<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>章节目录</title>
    <style>
        html,body,.chapter-contain{width:100%;height: 100%;color:#555;font-family: "微软雅黑";}
        ul{margin:0;padding:0 1em;}
        li{list-style: none;}
    </style>
</head>
<body>
<div class="chapter-contain">
    <div class="nav-bar">
        <b>神之猎魔人</b>/<span>章节目录</span>
    </div>
    <div class="chapter-menu">
        <ul id="chapter-menu">
            <li><span class="roll-name">卷一</span>
                <ul>
                    <li><a>第一章</a></li>
                    <li><a>第二章</a></li>
                    <li><a>第三章</a></li>
                </ul>
            </li>
            <li><span class="roll-name">卷二</span>
                <ul>
                    <li><a>第一章</a></li>
                    <li><a>第二章</a></li>
                    <li><a>第三章</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>