<div class="book-list-menu" style="width:100%;height: 100%;">
    <div class="row book-icon" style="width:100%;border-bottom: 1px solid #bbb;background:#ddd;color:#3c6692;">
        <div class="col-sm-3">
            <i class="fa fa-tasks" style="font-size: 1.5em;"></i>
        </div>
        <div class="col-sm-9">
            <b>书籍目录</b>
        </div>
    </div>
    <div class="book-menu">
        <ul id="book-menu">
            <li><i class="fa fa-book"></i><a href="javascript:void(0)">神之猎魔人</a></li>
            <li><i class="fa fa-book"></i><a href="javascript:void(0)">焚尽天穹</a></li>
        </ul>
    </div>
</div>